body {
    font-family: "Overpass", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    flex-direction: column;
    gap: 3em;
}

main > select {
    font-size: 1.2em;
    background: darkorange;
    color: white;
    border: none;
    padding: 0.3em 3em;
    border-radius: 0.7em;
}

main > h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}