body {
    font-family: "Overpass", sans-serif;
    background: #f4f4f9;
    line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 94.4dvh;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
}

main > form > select {
    font-size: 1.2em;
    background: #ff9800;
    color: white;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.7em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
}

main > form > select:hover {
    background: #e68900;
    transform: scale(1.05);
}

main > h1 {
    font-size: 2.5em;
    font-family: "Arial", Helvetica, sans-serif;
    font-weight: 600;
    color: #444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
}

form > button {
    background: #4caf50;
    border: none;
    color: white;
    padding: 0.5em 2.5em;
    font-size: 1.2em;
    border-radius: 0.7em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
}

form > button:hover {
    background: #45a049;
    transform: scale(1.05); 
}

#euroInput, #levaInput {
    border: none;
    background: #eee;
    padding: 1em 2em;
    border-radius: 0.5em;
}

footer {
    background: #45a049;
    color: white;
    text-align: center;
    padding: 1em;
}